extends layout
block content
  

  div.fabs
    div.chat
      div.chat_header
        div.chat_option
          span(id="chat_head") Asistente Bnovus
          br
          span.line ___________________________________________________                                               
      div.wc-ContentBot(id="BotChat")
      script(src='/stylesheets/webChat.js')            
    a.fab(id="prime")
      i(onclick="toggleFab();" class="prime zmdi zmdi-comment-outline")