doctype html
html
  head
    title= title    
    link(rel='stylesheet', href='/stylesheets/botchat.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src="/stylesheets/botchat.js")
    script(src="/stylesheets/CognitiveServices.js")
    script(src='/stylesheets/widgetChat.js')    
  body    
    block content    
